.list-container {
  padding: 0;
  .item {
    flex: 1 0 21%;
    margin: 15px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    p:first-child {
      color: #FFCC21;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.11px;
      word-spacing: 9999px;
    }
    p:nth-child(3) {
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 0;
    }
    .item-line {
      height: 1px;
      background-color: #FFF;
      margin-bottom: 10px;
    }
  }
}
