.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.button-login {
  padding-top: 20px;
  button {
    width: 100%;
  }
  p {
    text-align: center;
    padding-top: 10px;
  }
}
.button-custom {
  padding: 5px;
  margin-right: 10px;
}
.header-container {
  color: #fff;
  background-color: #414141;
  align-items: center;
  padding: 10px 0px;
  .header-brand {
    cursor: pointer;
  }
  .header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.menu-item {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
  }
}
.cursor {
  cursor: pointer;
}
.footer-container {
  background-color: #414141;
  padding: 56px 160px;
  span {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.033px;
    padding-left: 45px;
  }
}

.left-menu-list {
  position: absolute;
  right: 9%;
  background-color: #777777;
  .left-menu-item {
    padding: 23px 32px;
    border-bottom: #414141 1px solid;
    a {
      text-align: start;
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
      text-decoration: none;
    }
  }
}
.login-button {
  background-image: linear-gradient(#FF963C, #FFCC21);
  border-color: transparent;
  &:hover {
    border-color: transparent;
  }
}
.button-center-container {
  display: flex;
  justify-content: center;
}